
.control-panel {
    margin-bottom: 1em;
}


.layout {
    border-spacing: 0;
}
.layout img {
    height: 16px;
    cursor: pointer;
}
.layout tr:not(.header) td:first-child {
    text-align: right;
}
.layout tr:not(.header) td:not(:first-child) {
    text-align: center;
}
.layout tr:not(.header) :nth-child(even) {
    background-color: rgba(0,0,0,.1);
}


.footnote {
    margin-top: 1em;
    font-size: smaller;
    color: #aaa;
}


.dialog .risk-assessment {
    margin-top: 1em;
}
.dialog .links {
    margin-top: 1em;
}
