
ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}


.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dialog .dialog-content {
    min-width: 25vw;
    max-width: 80vw;
    background-color: white;
    border-radius: .5em;
    box-shadow: 3px 3px 5px;
}
.dialog .title-bar {
    padding: .5em 1em;
    border-bottom: 1px solid #dadce0;
    display: flex;
    align-items: center;
}
.dialog .title-bar img {
    height: 16px;
    margin-right: .5em;
}
.dialog .title {
    font-weight: bold;
    margin-right: auto;
    text-transform: capitalize;
}
.dialog .close-button {
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    padding: .25em;
}
.dialog .dialog-body {
    padding: 1em;
}
