
.enabled-group, .disabled-group {
    margin-top: 1.25em;
}
.disabled-group .ext-name {
    color: gray;
}


.ext {
    display: flex;
}
.ext:hover {
    background-color: #eee;
}
.ext img {
    height: 16px;
    margin-right: .5em;
}
.ext .ext-name {
    margin-right: auto;
    cursor: pointer;
}
.ext .ext-name:hover {
    text-decoration: underline;
}
.ext a {
    margin-left: .5em;
}


.dialog .ext-permissions {
    margin-top: 1em;
}
.dialog .ext-links {
    margin-top: 1em;
}
